@import url('https://fonts.googleapis.com/css?family=Arvo');

.wrapper{
    display: grid;
    background-color:#333333;
    color:black;
    font-family: 'arvo';
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "topb topb topb"
                         "navi main main"
                         "bott bott bott";
}

/* HEADER */
.head-page{
    grid-area: topb;
    background-color: red;
    /* box-shadow:  0 1rem 1rem 1rem rgba(0,0,0,0.4); */

}

.nav-bar{
    display: grid;
    grid-template-columns: "1fr auto 1fr 1fr";
    grid-template-areas: "logo . apps plys"
                          "logo . logn lang";
    /* flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end; */

}

.craigs-logo{
    grid-area: "logo";
    background-color: chartreuse;
    padding: 1rem;

}

.app-store{
    grid-area: "apps";
    background-color: darkblue;
    padding-bottom: -1rem;
}
.play-store{
    grid-area: "plys";
    background-color: hotpink;
}
.login-signin{
    grid-area: "logn";
    background-color: darkorange;
    text-align: center;
}
.language{
    grid-area: "lang";
    background-color: deepskyblue;
    text-align: center;
}

.img-logo{
    width: 100%;
    height: 100%;
}

.btn{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding:1em 1em;
    border:1px solid #666;
}

.btn:hover{
    background: #eaeaea;
    color: #fff;
}

/* SIDE BAR */
.side-bar{
    grid-area: navi;
    background-color: #333333;
    max-width: 9rem;
    

    /* scroll bar */
    /* float:left;
    width:1000px;
    overflow-y: auto;
    height: auto; */
    
}

/* .side-bar::-webkit-scrollbar {
    width: 1em;
}
.side-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.side-bar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  } */

.list-menu{
    /* background-color: aqua; */
    /* box-shadow:  0 1rem 1rem 1rem rgba(0,0,0,0.4); */
    background-color: black;
    padding: 3rem 0;
    border-bottom-right-radius: 1rem;
    
}

.menu-item{
    display: grid;

    padding: 0 1rem;
    margin: 1rem 0;
    grid-template-columns: minmax(3rem, 6rem) auto;
    border-left: solid 8px transparent;

}

.left-menu-btn:hover{
    opacity:0.25 ;
}

li:hover{
    border-left-color: #323232;
}

/* .img-menu{
    width: 100%;
    height: 100%;
    margin: .5rem 0;
    background-color: cornsilk;
} */


/* MAIN SECTION */
.mid-search{
    /* background-color: tomato; */
    text-align: center;
    padding: 1rem 1rem;

    
}

.main{
    grid-area: main;
    background-color: #333333;
    color: #fff;
    /* display: grid; */
    /* grid-template-rows: 1fr auto; */
    /* grid-template-columns: 1fr 1fr 1fr; */
}

img{
    width: 100%;
    height: auto;
}

.deck-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    /* margin: 1rem 0; */

}

.card{
    border-radius: 1rem;
    background-color: black;
    width: 90%;
    height: auto;
    padding: 1rem 0;
    margin: 1rem 0;
    box-shadow:  1rem 0 1rem 1rem rgba(0,0,0,0.4);
}

.card-content{
    padding: 1rem;
}

h3{
    color: #666;
    text-decoration: none;
}

.zoom {
    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .2s; /* Animation */
    /* width: auto;
    height: auto; */
    /* margin: 0 auto; */
  }

.zoom:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

/* ADV SECTION */
.advertisement{
    grid-area: adve;
    background-color: limegreen;

}

/* FOOTER */
.foot-page{
    grid-area: bott;
    background-color: black;

}
.social-media-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    background-color: ivory;
    padding: 1rem 0;
    
}

.copyright{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    margin-bottom: 1rem;
    padding: 0 1rem;
    background-color: lavender;

}

.policy{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-bottom: 1rem ;
    padding: 0 1rem;
    background-color: black;
    color: white;
   
}


/* MEDIA QUERIES */
@media screen and (min-width:320px){
    /* .item-details{
        grid-template-rows: repeat(4, 2fr);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "item item item"
                             "item item item"
                             "item item item"
                             "item item item";
    }*/

    /* .item-details{
        background-color: yellow;
        grid-template-columns: 1fr 1fr 1fr;
    } */

    /* .social-media{
        grid-column: 1fr 1fr 1fr 1fr;
    } */
}

@media screen and (min-width:700px){
    /* .deck-card{

        background-color: grey;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr repeat(1, minmax(auto, 25em)) 1fr;

    } */
    /* .deck-card-list{
        grid-column: 2/3;
        
    } */
    .card{
        flex: 45%;
        max-width: 45%
    }
    
}

@media screen and (min-width:800px){
    .card{
        flex: 45%;
        max-width: 45%
    }

}

@media screen and (min-width:1024px){
    .card{
        flex: 18%;
        max-width: 18%
    }

}